In [9]:
names = ['zainab' , 'rubab' , 'ayesha' , 'gulshan' , 'sadaf']
message = ['hell0! hope u are having a great day']

['zainab', 'rubab', 'ayesha', 'gulshan', 'sadaf']
hello,['zainab', 'rubab', 'ayesha', 'gulshan', 'sadaf'][0]! hope u are having a great day

In [5]:
for name in names: print(f"Hello, {name}! Hope you are having a great day!")

Hello, zainab! Hope you are having a great day!
Hello, rubab! Hope you are having a great day!
Hello, ayesha! Hope you are having a great day!
Hello, gulshan! Hope you are having a great day!
Hello, sadaf! Hope you are having a great day!

In [6]:
vehicles = ['honda motorcycle' , "BMW" , "Toyota car" , "Yamaha bike" ]
for vehicle in vehicles : print(f"I would like to own a {vehicle}")

I would like to own a honda motorcycle
I would like to own a BMW
I would like to own a Toyota car
I would like to own a Yamaha bike

In [9]:
  guests= ['maria' , 'tanveer' , 'ali' , 'hyder' , 'batool']
for guest in guests: print(f"Dear {guest} , I would be honored to have you as a guest for dinner . )

Dear maria , I would be honored to have you as a guest for dinner .
Dear tanveer , I would be honored to have you as a guest for dinner .
Dear ali , I would be honored to have you as a guest for dinner .
Dear hyder , I would be honored to have you as a guest for dinner .
Dear batool , I would be honored to have you as a guest for dinner .

In [10]:
guest_cant_come =' maria'
print(f"\nUnfortunately , {guest_cant_come} can't make it to the  dinner.")

Unfortunately ,  maria can't make it to the  dinner

In [3]:
 guests = ['maria' , 'tanveer' , 'ali' , 'hyder' , 'batool']
new_guest = 'amna'
guests[guests.index('maria')] = new_guest
for guest in guests: print(f"dear {guest}, I would be honoured to have you as a guest for a dinner")

dear amna, I would be honoured to have you as a guest for a dinner
dear tanveer, I would be honoured to have you as a guest for a dinner
dear ali, I would be honoured to have you as a guest for a dinner
dear hyder, I would be honoured to have you as a guest for a dinner
dear batool, I would be honoured to have you as a guest for a dinner

In [6]:
guests = ['maria' ,' tanveer', 'ali' , 'hyder' , 'batool']
for guest in guests: print(f"Dear {guest} , I would be honoured to have you as a guest for dinner .")
print("\nGood news! I found a bigger table, so I inviting more people to dinner . ")

Dear maria , I would be honoured to have you as a guest for dinner .
Dear  tanveer , I would be honoured to have you as a guest for dinner .
Dear ali , I would be honoured to have you as a guest for dinner .
Dear hyder , I would be honoured to have you as a guest for dinner .
Dear batool , I would be honoured to have you as a guest for dinner .

Good news! I found a bigger table, so I inviting more people to dinner .

In [2]:
guests = ['maria' ,' tanveer', 'ali' , 'hyder' , 'batool']
guests.insert(0, 'zainab')
guests.insert(len(guests)//2 , 'ahmed')
guests.append('amna')
for guest in guests: print(f"Dear {guest}, I would be honoured to have you as a guest for dinner.")

Dear zainab, I would be honoured to have you as a guest for dinner.
Dear maria, I would be honoured to have you as a guest for dinner.
Dear  tanveer, I would be honoured to have you as a guest for dinner.
Dear ahmed, I would be honoured to have you as a guest for dinner.
Dear ali, I would be honoured to have you as a guest for dinner.
Dear hyder, I would be honoured to have you as a guest for dinner.
Dear batool, I would be honoured to have you as a guest for dinner.
Dear amna, I would be honoured to have you as a guest for dinner.

In [3]:

while len(guests) > 2:
    remove_guest = guests.pop()
    print(f"Sorry , {remove_guest} , I cant invite u to dinner")

Sorry , amna , I cant invite u to dinner
Sorry , batool , I cant invite u to dinner
Sorry , hyder , I cant invite u to dinner
Sorry , ali , I cant invite u to dinner
Sorry , ahmed , I cant invite u to dinner
Sorry ,  tanveer , I cant invite u to dinner

In [4]:
for guest in guests :
    print(f"Dear {guest} , you are still invited to dinner . ")

Dear zainab , you are still invited to dinner .
Dear maria , you are still invited to dinner .

In [5]:
del guests[:]
print("\nFinal guest list:", guests)

Final guest list: []

In [17]:
visited_places = ['dubai' , 'london', 'itly' , 'france', 'america']
print("original list :")
print(visited_places)

original list :
['dubai', 'london', 'itly', 'france', 'america']

In [16]:
print("\noriginal list after reverse sorted() :")
print(visited_places)

original list after reverse sorted() :
['dubai', 'london', 'itly', 'france', 'america']

In [20]:
print("\nlist in reverse-alphabetical order :")
print(sorted(visited_places , reverse = True))

list in reverse-alphabetical order :
['london', 'itly', 'france', 'dubai', 'america']

In [21]:
print("\noriginal list after reverse sorted() :")
print(visited_places)

original list after reverse sorted() :
['dubai', 'london', 'itly', 'france', 'america']

In [22]:
visited_places.reverse()
print("\nlist after reversing again (back to original) :") 
print(visited_places)

list after reversing again (back to original) :
['america', 'france', 'itly', 'london', 'dubai']

In [23]:
visited_places.sort()
print("\nlist after sort() (alphetical order)")
print(visited_places)

list after sort() (alphetical order)
['america', 'dubai', 'france', 'itly', 'london']

In [24]:
visited_places.sort(reverse=True)
print("\nlist after sort(reverse=True) (reverse alphabetical order):")
print(visited_places)

list after sort(reverse=True) (reverse alphabetical order):
['london', 'itly', 'france', 'dubai', 'america']

In [25]:
cities = ['tokyo' ,' paris', 'sydney' , 'lahore']
cities.append('karachi')
print("after append() :" , cities)

after append() : ['tokyo', ' paris', 'sydney', 'lahore', 'karachi']

In [26]:
cities.insert(2 ,' toronto')
print("after insert():" , cities)

after insert(): ['tokyo', ' paris', ' toronto', 'sydney', 'lahore', 'karachi']

In [27]:
cities.remove('karachi')
print("after remove ():", cities)

after remove (): ['tokyo', ' paris', ' toronto', 'sydney', 'lahore']

In [32]:
popped_city = cities.pop()
print("after popped ()" , cities)
print("popped city:" , popped_city)

after popped () [' paris', ' toronto']
popped city: tokyo

In [33]:
cities.sort()
print("after sort() :" , cities)

after sort() : [' paris', ' toronto']

In [34]:
cities.reverse()
print("after reverse() :" , cities)

after reverse() : [' toronto', ' paris']

In [35]:
print("number of cities:" , len(cities))

number of cities: 2

In [38]:
print("alphabetically first city:" , min(cities))
print("alphabetically last city:" , max(cities))

alphabetically first city:  paris
alphabetically last city:  toronto

In [40]:

print("total number" , cities.count('paris'))

total number 0

In [46]:
cities.clear()
print("after clear" , cities)

after clear []

In [52]:
cities = ['lahore' , 'japan' , 'karachi']
print(cities[3])

IndexError: list index out of range